.contact-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}


.card-contact {
  padding: 15px 80px;
  box-shadow: 0 0 10px #11438a;
  border-radius: 30px;

}

.main-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0b336c;

  ul {
    list-style-type: none;
    margin: 0;
  }

  img {
    height: 180px;
    border-radius: 200px;
    box-shadow: 0 0 10px #000000;
  }
}

.info-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0b336c;
  text-align: center;
}

.download {
  text-align: center;
}

.a {
  text-decoration: none;
}

.button {
  color: #0b336c;
  border: 2px solid #11438a;
  background-color: transparent;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  border-radius: 20px;
  box-shadow: 0 0 10px #11438a;
}
